streamlit
openai
chromadb
PyMuPDF
nltk
tiktoken
faiss-cpu
firebase-admin
compdfkit-api-python
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
PyPDF2
surya-ocr
selenium
shapely
langchain
psutil
streamlit_autorefresh
protobuf==3.20.3
